@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;300;400;500&family=Inter:wght@100;300;400;500&family=Roboto:wght@100;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

// matine select style.
.mantine-1cn2mlo {
  height: 4rem !important;
}

.mantine-1cu6yj8:checked {
  background: #7a5af8 !important;
  border-color: #7a5af8 !important;
}

.active-highlight:after {
  content: "";
  width: 100%;
  height: 0.1875rem;
  background: black;
  display: block;
  margin: 0 auto;
  position: absolute;
  border-radius: 0.125rem 0.125rem 0rem 0rem;
  bottom: -10px;
}

.quote {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

/* motivation.css */
.fade-enter {
  opacity: 0;
  transform: translateY(50%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 500ms,
    transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition:
    opacity 500ms,
    transform 500ms;
}
